__pycache__
.ipynb_checkpoints
drafts
logs
test_videos/videos_extra
**.engine
**.mp4
videos_out
test.ipynb
myenv
web.py
**env**
test.ipynb
.env
secrets.txt
services/pg_data_wh
services/triton
services/influxdb_data
.superpowers
**.playwright**
node_modules
qa*
weights
logs
output
outputs
results
runs
data
cache
demo-videos
test_videos/**
test_videos/mp4**
.runtime/
**/test**/*.png
**/test**/*.jpg